* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 400 !important;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-light{
    background-image: linear-gradient(90deg, rgb(156, 162, 247), rgb(245, 153, 214)) !important;
}
.navbar-brand  {
    color: white !important;
    font-weight: bolder !important;
    font-size: 24px !important;
}

.nav-link {
    color: white !important;
    font-size: 18px;
}

.nav-link:hover {
    color: blueviolet !important;
}

.nav-link2:hover {
    color: blueviolet !important;
}

.bg-primary {
    background-image: linear-gradient(90deg, rgb(156, 162, 247), rgb(245, 153, 214));
}

.btn-outline-primary { 
    border-color: blueviolet;
    color: blueviolet;
}

.btn-primary {
    background-image: linear-gradient(90deg, rgb(156, 162, 247), rgb(245, 153, 214));
    border-color: transparent;
}

.btn-secondary {
    background-image: linear-gradient(90deg, rgb(156, 162, 247), rgb(245, 153, 214));
    border-color: transparent;
}

#recuperarsenha {
    background-image: linear-gradient(90deg, rgb(156, 162, 247), rgb(245, 153, 214));
    border-color: transparent;
    color: white;
    padding: 5px;
    margin-top: 15px;
    border-radius: 6px;
}

.col-4 .offset-1 {
    align-items: flex-end !important;
}
.row {
    justify-content: space-between;
}

.col-4 {
    text-align: right;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
} 

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 30rem;
    width: 90rem;
  }
  .carousel-item > img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 30rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .container-contato {
    margin-left: 300px !important;
    margin-right: 300px !important;
  }

  .imgcontato {
    margin-top: 30px;
    margin-bottom: 20px !important;
    text-align: center;
  }

  #h1-contato {
    margin-bottom: 20px !important;
    text-align: center;
  }

.p-contato {
    text-align: center !important;
    font-size: 18px !important;
    margin-bottom: 20px !important;
}

#email {
  text-decoration: underline;
}