<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="login.js"></script>
    <title>login</title>
</head>
<body>
    <form>  
        <h1>Acesse sua conta</h1>
        <div>
            <Label>Usuário (e-mail):</Label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label>Senha:</label>
            <input type="password" name="senha" id="senha">
            <input type="checkbox" onclick="mostrarOcultarSenha()">Mostrar senha
        </div>
        <button id="botaoEntrar">Entrar</button>
        <a href="" target=""><button>Esqueci minha senha</button></a>
</body>
</html>